body {
    margin: 0;
    overflow: hidden;
}
article {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#furArea {
    position: relative;
    width: 50vh;
    height: 50vh;
}
#furArea div {
    position: absolute;
    background-color: rgb(0, 65, 122);
    width: 0.5vh;
    height: 4vh;
}
#furArea div:hover {
    background-color: rgb(1, 117, 218);
}
.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #6363637e;
    transform: translate(-50%, -50%);
    z-index: 100;
}
